.wrapper {

  background: white;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  width: 80%;
  margin: auto;
}
